<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Baxter-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Baxter-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Baxter-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Baxter-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BaxterTests-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BaxterTests-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BaxterTests-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07A548C01E7C599600A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A548D41E7C5B7A00A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A549041E7C677300A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A5491F1E7C689000A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A549381E7C699C00A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A5494D1E7C6A5200A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A5496B1E7C6B6000A6C4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
